:root {
    --text-shadow-bar: 1px 1px 1px #c2b995, 2px 1px 1px #5691a0, 1px 1px 2px #5691a0, 1px 2px 1px #5691a0;
    --root-bg: linear-gradient(to left, #375e68, #5691a0, #c2b995 95%);
    --bg-wrapper-bar-and-modal: linear-gradient(to left, #5691a0, #c2b995);
    --bg-bar-strip: linear-gradient(to right, #b8b29c, #83969b, #375e68);

    --item-border: 1px solid #83969b;
    --bg-item: radial-gradient( #c2b995 10%, #5691a0 15%, #375e68 95%);

    --m-modal: 5vh 0 5vh 13vw;

    --cl-modalUpdate: radial-gradient(#375e68, #5691a0, #c2b995 95%);

    --bg-login: linear-gradient(#375e68, #5691a0, #c2b995 95%);

    --light-yellow: #e6dcbc;
    --yellow: #c2b995;
    --blue: #5691a0;
    --light-blue-gray: #83969b;
    --blue-gray: #375e68;
    --gark-blue-gray: rgb(5, 31, 39);
    --color-login-text: #314b52;
    --color-login-error: #c23521;
}